//Карточка с картинкой 370х370
mixin card-img-370(img, title, price, old, tags)
	.product.img-370
		.product__img
			if tags
				.product-meta
					each item in tags
						div(class="tag-meta tag-meta--"+ item.cl) #{item.txtTag}
			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="370" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать

//Карточка с картинкой 370х370 обрезать текстописание до 2-х строк
mixin card-img-370-cut(img, title, price, old, tags)
	.product.img-370
		.product__img
			if tags
				each item in tags
					div(class="tag-meta tag-meta--"+ item.cl) #{item.txtTag}
			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="370" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
section.product-assortiment
	.container.gap-88
		.product-assortiment-single
			.title-wrapper
				.h2 Пицца
			.grid-three-columns
				+card-img-370('pizza-h370', 'Пицца Пепперони', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'}])
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('pizza2-h370', 'Пицца Карбонара', '650', 800,[{cl: 'hit', txtTag: 'Популярное'}])
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('pizza3-h370', 'Пицца Ранчоус', '650', 800)
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('pizza4-h370', 'Пицца Баварская','650', 800)
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('pizza5-h370', 'Пицца Гавайская', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'},{cl: 'hit', txtTag: 'Популярное'}])
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('pizza6-h370', 'Пицца Неаполитанская','650', 800)
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		.product-assortiment-single
			.title-wrapper
				.h2 Комбо
			.grid-three-columns
				+card-img-370('combo2-h370', 'Комбо 2 друга', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'}])
					p Сырный цыпленок 25см, маргарита 25см, пепси 0,5л...
				+card-img-370('combo4-h370', 'Комбо любительский', '650', 800,[{cl: 'hit', txtTag: 'Популярное'}])
					p Мамма миа 25 см, терияки 25 см, салат овощной
				+card-img-370('combo3-h370', 'Комбо 1 = 3', '650', 800)
					p Сырный цыпленок 25см, маргарита 25см, пепси 0,5л...
				+card-img-370('combo2-h370', 'Комбо 2 друга','650')
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-img-370('combo3-h370', 'Комбо 1 = 3', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'},{cl: 'hit', txtTag: 'Популярное'}])
					p Сырный цыпленок 25см, маргарита 25см, пепси 0,5л...
				+card-img-370('combo4-h370', 'Комбо любительский','650')
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		
		.product-assortiment-single
			.title-wrapper
				.h2 Салаты
			.grid-three-columns
				+card-img-370-cut('salat', 'Салат Овощной', '130')
					p.txt-cut2 Лист салата, салат айсберг, редис, помидоры . Лист салата, салат айсберг, редис, помидоры черри

				+card-img-370-cut('salat2', 'Салат Греческий', '150')
					p.txt-cut2 Салат айсберг, томаты, огурец, лук красный, перец болгарский, айсберг, томаты, огурец, лук красный, перец болгарский
					
				+card-img-370-cut('salat3', 'Салат цезарь', '105')
					p.txt-cut2 листья салата, соус цезарь, курица,помидоры черри, сыр пармезан, айсберг, томаты, огурец, лук красный, перец болгарский


		.product-assortiment-single
			.title-wrapper
				.h2 Напитки
			.grid-three-columns
				+card-img-370('juice', 'Пепси', '85')
					
				+card-img-370('juice7', 'Морс Клюква', '150')
					
				+card-img-370('juice4', 'Фанта', '45')
		
		.product-assortiment-single
			.title-wrapper
				.h2 Соусы
			.grid-three-columns
				+card-img-370('souse-370', 'Томатный соус', '45')
					
				+card-img-370('souse2-370', 'Соус Ранч', '50')
					
				+card-img-370('souse3-370', 'Сырный соус', '45')
					
				