mixin catCard(img, title, link="#!")
	
	a(href=""+ link).cat-card&attributes(attributes)
		.card-img
			img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}
mixin catCard-ui(img, title, link="#!")
	a(href=""+ link).cat-card&attributes(attributes)
		.card-img
			img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}
mixin catCard-flex(img, title, link="#!")
	a(href=""+ link).cat-card.card-flex&attributes(attributes)
		.card-img
			img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}

mixin catCard-flex-ui(img, title, link="#!")
	a(href=""+ link).cat-card.card-flex&attributes(attributes)
		.card-img
			img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}

//- mixin addCard(nameNum,name, pr)
		
//- 	label.fake-label&attributes(attributes)
//- 		input(type="checkbox" name="add" + nameNum)
//- 		span.check-icon
//- 		.add-product
//- 			.card-img
//- 				img(src="./img/goods/add"+nameNum+".webp", srcset="./img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
//- 			.card-txt
//- 				p #{name}
//- 				.card-price #{pr} #[span &#8381;]

mixin addCard(nameNum,name, pr)
	label.add-product-card.fake-label&attributes(attributes)
		input(type="checkbox" name="add" + nameNum)
		span.check-icon
		.add-product
			.card-img
				img(src="./img/goods/add"+nameNum+".webp", srcset="./img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
			.card-txt
				p #{name}
				.card-price #{pr} #[span &#8381;]
mixin addCard-ui(nameNum,name, pr)
	label.add-product-card.fake-label&attributes(attributes)
		input(type="checkbox" name="add" + nameNum)
		span.check-icon
		.add-product
			.card-img
				img(src="../img/goods/add"+nameNum+".webp", srcset="../img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
			.card-txt
				p #{name}
				.card-price #{pr} #[span &#8381;]

mixin addCard-price(nameNum,name, pr)
	.add-product.price-border
		.card-img
			img(src="./img/goods/add"+nameNum+".webp", srcset="./img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
		.card-txt
			p #{name}
			.card-price #{pr} #[span &#8381;]
mixin addCard-price-ui(nameNum,name, pr)
	.add-product.price-border
		.card-img
			img(src="../img/goods/add"+nameNum+".webp", srcset="../img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
		.card-txt
			p #{name}
			.card-price #{pr} #[span &#8381;]
//Карточка с картинкой 370х230
mixin card(img, title, price, old)
	.product
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
			
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
mixin card-ui(img, title, price, old)
	.product
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
			
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
//Карточка с картинкой 370х370
mixin card-img-370(img, title, price, old)
	.product.img-370
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
//Карточка ui с картинкой 370х370
mixin card-img-370-ui(img, title, price, old)
	.product.img-370
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
mixin card-370-tabs(img, title, tags, price,  old)
	.product.img-370.horiz-w370(data-tags=""+ tags)
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
//Карточка для фильтрации с дата-атрибутом
mixin cardMulti(img, title, tags, price,  old)
	.product(data-tags=""+ tags)
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать

//Горизонтальные в моб версии и для табов внутри табов
mixin card-horiz-tags(img, title, price, old)
	.product.horiz-w370(data-tags=""+ tags)
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать

//Горизонтальные в моб версии и для табов внутри табов
mixin card-horiz-tags-ui(img, title, price, old)
	.product.horiz-w370(data-tags=""+ tags)
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное
			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать

mixin basket-card-ui
	.basket-card
		//image
		.basket-card__img
			img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
		.basket-card__group
			//title group
			.basket-card__title
				.basket-card__product
					.basket-card__name Пицца Особая
					.prod-weight Вес: 550 гр.
				.basket-card__row
					.round-label
						span 42см
					.round-label
						span Традиционное
			
			//text group
			.basket-card__text
				.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
				.basket-card__add
					p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
					button.remove-basket-add
						svg.svg-cross
							use(href='../img/sprite.svg#svg-cross')
			
		//price group
		.basket-card__total
			.prod-weight Вес: 550 гр.
			//counter
			.counter
				button.counter-minus(type='button' aria-label='Уменьшить количество') –
				span.counter-value(contenteditable='true') 2
				button.counter-plus(type='button' aria-label='Увеличить количество') +
			//price
			.price-box
				span 600 #[small &#8381;]
			//remove card
			button.basket-card__remove
				svg.svg-delete
					use(href='../img/sprite.svg#svg-delete')
				svg.svg-cross
					use(href='../img/sprite.svg#svg-cross')

mixin basket-card
	.basket-card
		//image
		.basket-card__img
			img(src='./img/goods/pizza-h370.webp', srcset='./img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
		.basket-card__group
			//title group
			.basket-card__title
				.basket-card__product
					.basket-card__name Пицца Особая
					.prod-weight Вес: 550 гр.
				.basket-card__row
					.round-label
						span 42см
					.round-label
						span Традиционное
			
			//text group
			.basket-card__text
				.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
				.basket-card__add
					p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
					button.remove-basket-add
						svg.svg-cross
							use(href='./img/sprite.svg#svg-cross')
			
		//price group
		.basket-card__total
			.prod-weight Вес: 550 гр.
			//counter
			.counter
				button.counter-minus(type='button' aria-label='Уменьшить количество') –
				span.counter-value(contenteditable='true') 2
				button.counter-plus(type='button' aria-label='Увеличить количество') +
			//price
			.price-box
				span 600 #[small &#8381;]
			//remove card
			button.basket-card__remove
				svg.svg-delete
					use(href='./img/sprite.svg#svg-delete')
				svg.svg-cross
					use(href='./img/sprite.svg#svg-cross')

mixin basket-card-popup
	.basket-card
		//image
		.basket-card__img
			img(src='./img/goods/pizza-h370.webp', srcset='./img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
		.basket-card__group
			//title group
			.basket-card__title
				.basket-card__product
					.basket-card__name Пицца Особая
					.prod-weight Вес: 550 гр.
				.basket-card__row
					.round-label
						span 42см
					.round-label
						span Традиционное
			
			//text group
			.basket-card__text
				.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
				.basket-card__add
					p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
					button.remove-basket-add
						svg.svg-cross
							use(href='./img/sprite.svg#svg-cross')
			
		//price group
		.basket-card__total
			//counter
			.counter
				button.counter-minus(type='button' aria-label='Уменьшить количество') –
				span.counter-value(contenteditable='true') 2
				button.counter-plus(type='button' aria-label='Увеличить количество') +
			//price
			.price-box
				span 600 #[small &#8381;]
			//remove card
			button.basket-card__remove
				svg.svg-delete
					use(href='./img/sprite.svg#svg-delete')

mixin basket-card-combo
	.basket-card
		//image
		.basket-card__img
			img(src='./img/goods/chiken1.webp', srcset='./img/goods/chiken1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
		.basket-card__group
			//title group
			.basket-card__title
				.basket-card__product
					.basket-card__name Чикен бокс
					.prod-weight Вес: 215 гр.
				
			//text group
			.basket-card__text
				ul.basket-card__list
					li
						p Куриные наггетсы
						span.txt-s4 6 шт, 110 г.
					li
						p Картофель фри
						span.txt-s4 Стандартная, 80 г
					li
						p Соус Сырный
						span.txt-s4 1 шт, 25 г
			
		//price group
		.basket-card__total
			//counter
			.counter
				button.counter-minus(type='button' aria-label='Уменьшить количество') –
				span.counter-value(contenteditable='true') 2
				button.counter-plus(type='button' aria-label='Увеличить количество') +
			//price
			.price-box
				span 600 #[small &#8381;]
			//remove card
			button.basket-card__remove
				svg.svg-delete
					use(href='./img/sprite.svg#svg-delete')